# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
django=1.7.1=py33_0
openssl=1.0.1k=0
pip=1.5.6=py33_0
py=1.4.26=py33_0
pytest=2.6.4=py33_0
python=3.3.5=3
pytz=2014.9=py33_0
readline=6.2=2
setuptools=7.0=py33_0
six=1.9.0=py33_0
sqlite=3.8.4.1=0
system=5.8=1
tk=8.5.15=0
xz=5.0.5=0
zlib=1.2.8=0
