
<div class="skel-layers-fixed paper" id="infoBox">
	<div class="row" id="infoBoxRow"> 
		<div class="-3u 6u$ 12u$(small)"><a id="mainButton" class="button alt">Worried about megabytes?</a></div>
		<div class="-3u 6u$ 12u$(small)"><p>I'll eat them up if you don't stop me</p></div>
	</div>
</div>

<div class="skel-layers-fixed" id="streamBox">
	<div class="row">
		<div class="-3u 6u$ 12u$(small)">
			<div>
				<iframe  id="sc-widget" src="https://w.soundcloud.com/player/?url=" width="400" height="80" scrolling="no" frameborder="no" like="no" buying="no" show_playcount="no"></iframe>
			</div>
		</div>
	</div>
</div>