
<div class="skel-layers-fixed paper" id="infoBox">
	<div class="row" id="infoBoxRow"> 
		<div class="-3u 6u$ 12u$(small)">Worried about megabytes?</div>
		<div class="-3u 6u$ 12u$(small)"><a id="mainButton" class="button alt">Deactivate Streaming</a></div>
	</div>
</div>

<div class="skel-layers-fixed" id="streamBox">
	<div class="row">
		<div class="-3u 6u$ 12u$(small)">
			<div>
				<iframe  id="sc-widget" src="https://w.soundcloud.com/player/?url=" width="200" height="80" scrolling="no" frameborder="no" ></iframe>
			</div>
		</div>
	</div>
</div>