{% load humanize %}
{% load link %}
	<div class="paper">

		<!-- Location -->
		<div class="row">
			<div class="12u">
				<h2>{{ happening.location.name }}</h2>
			</div>
			<div class="10u">
				<address><p class="tiny">{{ happening.location.address }}</p></address>
			</div>
			<div class="-2u$">
				<a href="{{ happening.location.address|googlemaps }}">
					<i class="fa fa-map-marker fa-lg"></i>
				</a>
			</div>
		</div>
		<!-- Location -->
		
		<hr class="minor" />
			<!- Artists -->
		{% if happening.artists.all.exists %}
		<div class="row">
			<div class="12u$">

				<ul class="artists fa-ul" >
						{% for artist in happening.artists.all %}
							
							{% with artist.links.all|soundcloud|smpl|first as sc_sample_track %}
							{% if sc_sample_track %}
								<li class="artist-item" data-soundcloud-track="{{ sc_sample_track.url }}">
									<i class="fa fa-play-circle active"></i> {{ artist.name }} 
								</li>
							{% else %}
							<li class="artist-item">
									<i class="fa fa-play-circle-o inactive"></i> {{ artist.name }} 
								</li>
							{% endif %}
						
							{% endwith %}		
						{% endfor %}
				</ul>
			</div>
		</div>
		<hr class="minor" />
		{% endif %}
		<!-- End Artists -->

		
		<div class="row"> <!-- Happening -->
			<div class="10u">
				{% if happening.is_active %}
					<h4>{{ happening.name }}</h4>
				{% else %}
					<h4>{{ happening.name }}</h4>
				{% endif %}
			</div>
			<div class="1$">
				<a href="{% url 'happenings:happening_detail' happening.id %}"><i class="fa fa-link fa-lg"></i></a>
			</div>
			<div class="12u$ ">
				
				{% if happening.is_future %}
					<h3>starts {{ happening.start|naturaltime }}</h3>

				{% elif happening.is_active %}
					<h3 class="active">ends {{ happening.stop|naturaltime }}</h3>

				{% elif happening.is_past %}
					<h3>ended {{ happening.stop|naturaltime }}</h3>
				{% endif %}
				
			</div>
		</div>
		<!-- End Happening -->
	
		
</div> <!-- End Paper -->
