{% extends 'happenings/baseline/baseline.html' %}

{% block title %}
{{ happening.location.name }} | {{ happening.name }} | nightlife music clubs 
{% endblock %}



{% block nav %}
<!--<li><a href="#top" class="button default"></a></li>-->

{% endblock %}

{% block banner %}
<!-- <div class="container">
	<div class="row">
		<div class="-4u 4u">
			<div id="bannerMenu">
				<a class="button">Go Back to Stream</a>
			</div>
		</div>
	</div>
</div> -->
{% endblock %}


{% block content %}
<div class="row">
	
	<div class="-4u 4u$ -3u(medium) 6u(medium)$ 12u$(xsmall)">
		{% include 'happenings/baseline/happening_paper.html' %}
	</div>
	
<!--</div>
<div class="row">-->
	<div class="-4u 2u 6u(small)">
		<div>
			<a class="button special" href="{% url 'happenings:signup' %}">Upload Picture</a>
		</div>
	</div>

	<div class"2u$ 6u(small)$">
		<div>
			<a class="button alt" href="{% url 'happenings:current_happenings_list' %}#{{ happening.id }}">Go Back to Stream</a>
		</div>
	</div>
</div>
{% include 'happenings/baseline/bottom_boxes.html' %}

{% endblock %}

