{% extends 'happenings/baseline/baseline.html' %}


{% block title %}
find out whats happening in berlin | nightlife music clubs 
{% endblock %}


{% block nav %}
<!-- <li><a href="#top" class="button default">Happenings</a></li>
<li><a href="#content">Locations</a></li>
<li><a href="#elements">Artists</a></li> -->
{% endblock %}

{% block banner %}
<section id="banner">
	<h2>find out whats happening in the next 12 hours</h2>
	
</section>
{% endblock %}

{% block content %}
<div class="row uniform">
{% for happening in object_list %}
	<div class="4u{% cycle '' '' '$' %} 6u(medium) 12u$(xsmall)">
		<a id="{{happening.id}}"></a>
		{% include 'happenings/baseline/happening_paper.html' %}
	</div> 

{% endfor %}<!-- End iteration over happenigns -->
</div>
{% include 'happenings/baseline/bottom_boxes.html' %}
{% endblock %}

