{% extends 'happenings/baseline/baseline.html' %}
{% load humanize %}
{% load link %}


{% block nav %}
<li><a href="#top" class="button default">Happenings</a></li>
<li><a href="#content">Locations</a></li>
<li><a href="#elements">Artists</a></li>
{% endblock %}

{% block banner %}
<section id="banner">
	<h2>Find out whats happening now</h2>
</section>
{% endblock %}

{% block content %}
<div class="row uniform">
{% for happening in object_list %}
	<div class="4u{% cycle '' '' '$' %} 6u(medium) 12u$(xsmall)">
		<div class="paper">
			<!-- Location -->
			<div class="row">
				<div class="12u">
					<h2>{{ happening.location.name }}</h2>
				</div>
				<div class="10u">
					<address><p class="tiny">{{ happening.location.address }}</p></address>
				</div>
				<div class="-2u$">
					<!--<i class="fa fa-map-marker fa-lg"></i>-->
				</div>
			</div>
			<!-- Location -->
			
			<hr class="minor" />
 			<!- Artists -->
			{% if happening.artists.all.exists %}
			<div class="row">
				<div class="12u$">

					<ul class="artists">
							{% for artist in happening.artists.all %}
							{% with artist.links.all as links %}
								
								{% with links|with_category:"SMPL"|with_third_party:"SoundCloud"|first as sc_sample_track %}
								{% if sc_sample_track %}
								<li class="artist-item" data-soundcloud-track="{{ sc_sample_track.url }}">{{ artist.name }}</li>	
								{% else %}
								<li class="artist-item">{{ artist.name }}</li>
								{% endif %}
							
								{% endwith %}		
								{% with links|with_category:"REPR" as rep_links %}
								{% endwith %}	
							{% endwith %}		
							{% endfor %}
					</ul>
				</div>
			</div>
			<hr class="minor" />
			{% endif %}
			<!-- End Artists -->

			
			<div class="row"> <!-- Happening -->
				<div class="12$"><h4>{{ happening.name }}</h4></div>
				<div class="12u$ ">
					<h3>
					{% if happening.is_future %}
						starts {{ happening.start|naturaltime }}

					{% elif happening.is_active %}
						ends {{ happening.stop|naturaltime }}

					{% elif happening.is_past %}
						ended {{ happening.stop|naturaltime }}
					{% endif %}
					</h3>
				</div>
			</div>
			<!-- End Happening -->
		
			
		</div> <!-- End Paper -->
	</div> 
{% endfor %}<!-- End iteration over happenigns -->
</div>
{% endblock %}