{% extends 'happenings/baseline/baseline.html' %}


{% block title %}
find out whats happening in berlin | nightlife music clubs 
{% endblock %}


{% block nav %}
<!-- <li><a href="#top" class="button default">Happenings</a></li>
<li><a href="#content">Locations</a></li>
<li><a href="#elements">Artists</a></li> -->
{% endblock %}

{% block banner %}
<section id="banner">
	<h2>Woops!</h2>
</section>
{% endblock %}

{% block content %}
<div class="row">
	<div class="-4u 4u">
		<h2>dasgeht is in early beta</h2>
		<p>Our interactive features are invite only right now.</p>
		<p>Thanks for clicken though. We have noted your interest will work even harder!</p>
	</div>
</div>
{% endblock %}
